{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "useTabs": false
}