@import url(sanitize.css);

@font-face {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  src: local("Unbounded"),
    url("/src/fonts/Unbounded-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  src: local("Unbounded"),
  url("/src/fonts/Unbounded-Bold.woff2") format("woff2");
}

*{
  font-family: Unbounded;
}

html{
  width:100%;
  height:100%;
  font-weight:400;
  font-size:12px;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#root{
  width:100%;
  height:100%;
}

body {
  width:100%;
  height:100%;
  margin: 0;
  background-color:black;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@래ㅜㅅ-ㄹㅁㅊㄷ